.la{

    justify-content: center;
    margin: 10px;

}
.icon-section{
    alignment: bottom;


}
.container{
    width: 300px;
    height: 300px;
    /*margin-left: 600px;*/
    margin: 200px auto;

    /*margin-top: 225px;*/
    background-color: white;
    border: black 1px solid;

}
.icons{
    margin-left: 100px;

}
.univ{

    color: gray;
    margin-left: 40px;
    margin-top: -10px;
}
.personal-img{
    width: 100px;
    height: 100px;
    alignment: center;
    margin-left: 100px;
    margin-top: 10px;
}
.strong{

}
.name{
    margin-left: 30px;
}
.h{
    margin-left: 70px;
}
a{
    text-decoration: none;
}

.blackiconcolor {
    color:black;}

body{
    background-color: olivedrab;
    width: 100%;
}
.container2{
    background-color: #ffa100;
}
.fab{
    background-color: white;
    color: gray;
}
.fas{
    background-color: white;
    color: gray;
}