.la{

    /*justify-content: center;*/
    margin: 10px;

}
.icon-section{
    alignment: bottom;


}
.container{
    width: 50vh;
    height: 50vh;
    /*margin-left: 600px;*/
    margin: 20vh auto;

    /*margin-top: 225px;*/
    background-color: white;
    border: black 1px solid;
    text-align: center;

}
.icons{
    align-items: center;

}
.univ{

    color: gray;
    /*margin-left: 40px;*/
    margin-top: -10px;
}
.personal-img{
    /*position: relative;*/
    width: 20vh;
    height: 20vh;
    alignment: center;
    margin: 3vh auto;
}
.strong{

}
/*.name{*/
/*    margin-left: 30px;*/
/*}*/
/*.h{*/
/*    margin-left: 70px;*/
/*}*/
a{
    text-decoration: none;
}

.blackiconcolor {
    color:black;

}


body{
    background-color:black;
    /*width: 100%;*/
}
/*.container2{*/
/*    background-color: #ffa100;*/
/*}*/
.fab{
    background-color: white;
    color: gray;
}
.fas{
    background-color: white;
    color: gray;
}
.h{
    font-size: 20px;
}