.la{

    /*justify-content: center;*/
    margin: 10px;

}
.icon-section{
    alignment: bottom;


}
.container{
    width: 300px;
    max-width: 100%;
    height: 320px;
    /*margin-left: 600px;*/
    margin: 23vh auto;

    /*margin-top: 225px;*/
    background-color: white;
    border: black 1px solid;
    text-align: center;

}
.icons{
    align-items: center;

}
.univ{

    color: gray;
    /*margin-left: 40px;*/
    margin-top: -20px;
    /*font-size: 18px;*/
}
.personal-img{
    /*position: relative;*/
    width: 100px;
    height: 100px;
    max-width: 40%;
    alignment: center;
    margin: 60px auto;
}
.strong{

}
/*.name{*/
/*    margin-left: 30px;*/
/*}*/
/*.h{*/
/*    margin-left: 70px;*/
/*}*/
a{
    text-decoration: none;
}

.blackiconcolor {
    color:black;

}


body{
    background-color:black;
    /*width: 100%;*/
    /*width: 90%;*/
}
/*.container2{*/
/*    background-color: #ffa100;*/
/*}*/
.fab{
    background-color: white;
    color: gray;
}
.fas{
    background-color: white;
    color: gray;
}
.h{
    /*font-size: 23px;*/
    margin-top: -60px;
}